body{
  background-color: antiquewhite;
  font-family: 'Open Sans', sans-serif;
}

.title{
  display: flex;
  justify-content: center;
  color: #4D2D18;
}

#status{
  display: flex;
  justify-content: center;
  color: #af7c74;
}

@media (max-width:800px) {
  .square{
    font-size: 3em;
    height: 80px;
    width:80px;
    
  }
}

@media (min-width:800px) {
  .square{
    font-size: 3em;
    height: 100px;
    width: 100px;
  }
}

.square{
  border: 2px solid #af7c74;
  color:#4D2D18;
  font-weight: 600;
  float:left;
  background-color: wheat;
  text-align: center;
  border-radius:4%;
}

.row{
  display:flex;
  justify-content: center;
  align-items: center;
}

.celebrate{
  font-family: 'Dancing Script', cursive;
  color:#F38381 !important;
  font-size: 3em;
  font-weight: bolder;
}

.draw{
  color:#9E9A9A !important;
}
